rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }
    
    function isOwner(userId) {
      return request.auth != null && request.auth.uid == userId;
    }
    
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    match /tenants/{documentId} {
      allow read: if isAuthenticated();
      allow create: if false;
      allow update: if false;
      allow delete: if false;
    }
    
    match /branches/{documentId} {
      allow read: if isAuthenticated();
      allow create: if isAdmin();
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
    
    match /users/{documentId} {
      allow read: if isAuthenticated();
      allow create: if isAuthenticated();
      allow update: if isAuthenticated();
      allow delete: if isAdmin();
    }
    
    match /punches/{documentId} {
      allow read: if isAdmin() || isOwner(resource.data.employeeId);
      allow create: if isOwner(request.resource.data.employeeId);
      allow update: if isAdmin();
      allow delete: if isAdmin();
    }
  }
}
